<!doctype HTML>
<html>
	<head>
		<title>{% block title %}Insta-Grab-and-Drop{% endblock %}</title>
		{% block head %}
  		<script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

		<script src="/javascripts/bootstrap.min.js"></script>
		
		<link rel="stylesheet" href="/stylesheets/flatly.css">
		<link rel="stylesheet" href="/stylesheets/style.css">

  		{% endblock %}

	</head>
	<body>
		{% block content %}{% endblock %}
	</body>
</html>