<!doctype HTML>
<html>
	<head>
		<title>{% block title %}Insta-Grab-and-Drop{% endblock %}</title>
		{% block head %}

		<script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

		<script src="/javascript/bootstrap.min.js"></script>
		
		<link rel="stylesheet" href="/stylesheets/flatly.min.css">
		<link rel="stylesheet" href="/stylesheets/style.css">

  		{% endblock %}

	</head>
	<body>
		{% block content %}{% endblock %}
	</body>
</html>